a {                               
    color :whitesmoke;
    }

h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;          
}

h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid;
    margin-left: 5px;
}

h2
{
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
}
h3
{
    font-size: 13px;
    text-align: justify;
    font-family: 'Arial';
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

#Titre, #info, #Diplômes, #collection, #Informations_diverses
{
    display: inline-block;
    vertical-align: top;
}

#Titre                                                      
{
    width: 100%;
    background-color : slategrey;
	float : center;
	margin-left : 0%;
    margin-top : 0%;
    text-align: center;
	font-size :15px;
    color : whitesmoke;
    
}
z
{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav {
    display: table;
    width : 100%;
    
}
nav > a {
    display: table-cell;
    width : 25%;
    text-align: center;
    border: 5px;
    background-color : slategrey;
    padding: 10px 0px;
    text-decoration: none;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.conteneur{
  margin: 0px 20px;
  height: 1500px;
}

#info
{
    background-color : slategrey;
	float : right;
	padding-bottom : 2em;
    padding-left: 0em;
    text-align: center;
    font-size : 15px;
    color: whitesmoke;
    width: 35%;
    margin-right: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 500px;
    border-radius: 10px;
    padding-right: 1em;
    padding-left: 3em;
    overflow : auto;
    
}

.Mabibliotheque{
    float: left;
    padding-bottom : 2em;
    padding-left: 0em;
    text-align: center;
    font-size : 15px;
    color: whitesmoke;
    width: 35%;
    margin-right: 0%;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding-right: 1em;
    block-size: 30px;
   
    
   
    width: 240px;
    height: 310px;
    border: 3px solid slategrey;
    background-image: url("b1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 36s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-direction: normal;
    
    -moz-animation-name: diapo1;
    -moz-animation-duration: 36s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: diapo1;
    animation-duration: 36s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@-webkit-keyframes diapo1{
    0%{background-image:url("b1.jpg");}
    16.66666667%{background-image:url("b2.jpg");}
    34.33333334%{background-image:url("b3.jpg");}
    50.00000001%{background-image:url("b4.jpg");}
    66.66666668%{background-image:url("b5.jpg");}
    83.33333335%{background-image:url("b6.jpg");}
}
@-moz-keyframes diapo1{
    0%{background-image:url("b1.jpg");}
    16.66666667%{background-image:url("b2.jpg");}
    34.33333334%{background-image:url("b3.jpg");}
    50.00000001%{background-image:url("b4.jpg");}
    66.66666668%{background-image:url("b5.jpg");}
    83.33333335%{background-image:url("b6.jpg");}
}
@keyframes diapo1{
    0%{background-image:url("b1.jpg");}
    16.66666667%{background-image:url("b2.jpg");}
    34.33333334%{background-image:url("b3.jpg");}
    50.00000001%{background-image:url("b4.jpg");}
    66.66666668%{background-image:url("b5.jpg");}
    83.33333335%{background-image:url("b6.jpg");}
}


#Diplômes
{
   background-color :slategrey ;
	float : center;
    text-align: center;
	margin-right : 1%;
	width : 20%; 
    position: relative;
    top: 40px; left: 145px;
    color: whitesmoke;
}

#collection
{
   background-color : slategrey;
	float : left;
    text-align: center; 
	width : 35%; 
    color: whitesmoke;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#Informations_Diverses
{
    background-color : slategrey;
	width : 100%;
    color : whitesmoke;
	clear : both;
    
}

footer                                               
{
    width:100%;
    background-color: slategrey;
    display:inline-flex;
    
}

footer div {
    width:33%;
}

footer img {
    border: none;
    box-shadow: none;
    
}

@media all and (max-width: 1024px)                              
{
    section
    {
        display: block;
        width: auto;
    }

    #Titre
    {
        width: auto;
    }

    #Compétences
    {
        width: auto;
        padding-bottom: 2em;
    }
    
    #Diplômes
    {
        width:35%;
        margin-right: 10%;
    }
    
    #collection
    {
        width:35%;
        margin-bottom: 10%;
        margin-right: 1%;
       
    
    }
    
    #Informations_Diverses
    {
        width:auto;
    }
    